log:
  level: debug
ssh:
  hostkeys:
    - /etc/containerssh/ssh_host_rsa_key
    - /etc/containerssh/ssh_host_ed25519_key
#    - /etc/containerssh/ssh_host_ecdsa_key
auth:
  url: http://auth-config:8080
backend: kubernetes
kubernetes:
  connection:
    host: kubernetes.default.svc
    cacertFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
  pod:
    metadata:
      generateName: guest-
      namespace: bolcz
    #shellCommand:
    #  - /bin/bash
    #disableAgent: true
    spec:
      automountServiceAccountToken: false
      restartPolicy: Never
      containers:
        - name: shell
          image: ghcr.io/klaernie/containerssh-guest-image:latest
          imagePullPolicy: Always
          securityContext:
             runAsNonRoot: true
             runAsUser: 1000
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          volumeMounts:
            - name: wwwdata
              mountPath: /www
      volumes:
        - name: wwwdata
          persistentVolumeClaim:
            claimName: wwwdata
