log:
  level: debug
ssh:
  hostkeys:
    - /etc/containerssh/ssh_host_rsa_key
    - /etc/containerssh/ssh_host_ed25519_key
    - /etc/containerssh/ssh_host_ecdsa_key
auth:
  url: http://auth-config:8080
backend: kubernetes
kubernetes:
  connection:
    host: kubernetes.default.svc
    cacertFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
  pod:
    metadata:
      namespace: bolcz
    spec:
      containers:
        - name: shell
          image: containerssh/containerssh-guest-image
          securityContext:
             runAsNonRoot: true
             runAsUser: 1000
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"

