# yaml-language-server: $schema=https://element-hq.github.io/matrix-authentication-service/config.schema.json
http:
  listeners:
    - name: web
      resources:
        - name: discovery
        - name: human
        - name: oauth
        - name: compat
        - name: graphql
        - name: assets
      binds:
        - address: "[::]:8080"
      proxy_protocol: false
    - name: internal
      resources:
        - name: health
      binds:
        - host: localhost
          port: 8081
      proxy_protocol: false
  trusted_proxies:
    - 192.168.0.0/16
    - 172.16.0.0/12
    - 10.0.0.0/10
    - 127.0.0.1/8
    - fd00::/8
    - ::1/128
  public_base: https://matrix-auth.cloud.ak-online.be
database:
  max_connections: 10
  min_connections: 0
  connect_timeout: 30
  idle_timeout: 600
  max_lifetime: 1800
email:
  from: '"Matrix Authentication Service" <mas@matrix.cloud.ak-online.be>'
  reply_to: '"Matrix Authentication Service" <mas@matrix.cloud.ak-online.be>'
  transport: smtp
  mode: plain
  hostname: mx.matrix.svc
  port: 25
secrets:
  encryption_file: /config/encryption_file
  keys_dir: /config/keys
passwords:
  enabled: true
  schemes:
    - version: 1
      algorithm: bcrypt
      unicode_normalization: true
    - version: 2
      algorithm: argon2id
  minimum_complexity: 3
matrix:
  kind: synapse
  homeserver: ak-online.be
  endpoint: https://matrix.cloud.ak-online.be
  secret_file: /config/hs_token
upstream_oauth2:
  providers:
    - id: "01KD43BNZKM3QCATV4KBMTBQCX"
      synapse_idp_id: oidc-keycloak
      human_name: Keycloak
      issuer: "https://keycloak.ak-online.be/realms/master"
      token_endpoint_auth_method: client_secret_basic
      client_id: "matrix-authentication-service"
      client_secret_file: /config/keycloak-client-secret
      scope: "openid profile email"
      claims_imports:
        localpart:
          action: require
          template: |
            {%- if "matrix-users" is in user.groups -%}
              {{- user.preferred_username -}}
            {%- else -%}
              {{ "User is not in group"/0 }}
            {%- endif -%}
          on_conflict: add
        displayname:
          action: require
          template: "{{ user.name }}"
        email:
          action: require
          template: "{{ user.email }}"
